<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="Enable_Debugging" type="bool"   label="30000" default="false" />
    <setting id="User_Email"       type="text"   label="30006" default="" />
    <setting id="User_Password"    type="text"   label="30007" default=""  option="hidden"/>
    <setting id="User_Token"       type="text"   label="30002" default=""  visible="false"/>
    <setting id="Free_RefreshRate" type="slider" label="30025" default="824" range="60,1,1200" option="int" visible="eq(4,false)" />
    <setting id=""                 type="lsep"   label="30024"      default="" />
    <setting id="User_City"        type="text"   label="30020" default="Unknown"  enable="false" />
    <setting id="User_LastLogin"   type="text"   label="30022" default="2020-09-01 01:00 AM"  enable="false" />
    <setting id="User_Donate"      type="text"   label="30019" default="Unknown"  enable="false" />
    <setting id="User_DonateExpire"type="text"   label="30023" default="2020-09-01 01:00 AM"  enable="false" />
    <setting id="User_totalDonations" type="text" default="0" visible="false" />
</settings>
