<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="Enable_Debugging" type="bool"   label="30000"  default="false" />
    <setting                       type="lsep" />
    <setting id="Enable_Removal"   type="bool"   label="30013"  default="false" />
    <setting id="Removal_Warning"  type="text"   label="30014"  visible="eq(-1,true)" enable="false" />
    <setting id="Play_Percentage"  type="slider" label="30020"  range="0,100"         option="percent"  default="85" />
    <setting id="Wait_4_Season"    type="bool"   label="30029"  default="false" />
    <setting                       type="lsep" />
    <setting id="Monitor_Movies"   type="bool"   label="30024"  default="true"                                      enable="Library.HasContent(Movies)" />
    <!-- <setting id="ViewMovies"       type="action" label="30027"  subsetting="true" visible="eq(-1,true)"  action=""  default="" /> -->
    <!-- <setting id="ScanRadarr"       type="action" label="30026"  action="RunScript($CWD/default.py, -scanRadarr)"    default=""  visible="eq(-2,true)" /> -->
    <!-- <setting id="ClearMovies"      type="action" label=""       subsetting="true" visible="!eq(-1,)"                action="RunScript($CWD/default.py, -clearMovies)" default="" /> -->
    <setting id="ViewTVShows"      type="action" label="30002"  action="RunScript($CWD/default.py, -viewTVShows)"   enable="Library.HasContent(TVShows)" default="" />
    <setting id="ClearTVShows"     type="action" label="30012"  subsetting="true" option="close" visible="!eq(-1,)" action="RunScript($CWD/default.py, -clearTVShows)" default="" />
    <setting id="ScanSonarr"       type="action" label="30006"  action="RunScript($CWD/default.py, -scanSonarr)" />
    <category label="30030">
    <setting id="Enable_Scan"      type="enum"   label="30031"  values="Disable|Hourly|Quarterly|Daily"                default="0" />
    <setting id="Enable_Clean"     type="enum"   label="30032"  values="Disable|Hourly|Quarterly|Daily|Weekly" default="0" />       
    </category>
    <category label="30028">
    <setting label="30016"         type="lsep" />
    <setting id="Sonarr_IP"        type="text"   label="30007"  subsetting="true" default="http://localhost:8989" />
    <setting id="Sonarr_API"       type="text"   label="30008"  subsetting="true" default="" />
    <setting id="TVShowList"       type="text"   label="30005"  enable="false"    visible="false"       default="" />
    <setting label="30019"         type="lsep" />
    <setting id="Radarr_IP"        type="text"   label="30007"  subsetting="true" default="http://localhost:7878" />
    <setting id="Radarr_API"       type="text"   label="30008"  subsetting="true" default="" />
    <setting id="MoviesList"       type="text"   label="30005"  enable="false"    visible="false"       default="" />
    </category>
</settings>