<nav class="navbar navbar-inverse" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Kodi & PTVL Manager</a>
    </div>
    <div>
    <!-- Single button -->
        <div class="btn-group navbar-btn">
                <a ui-sref="movies" ng-click="" class="btn btn-primary btn-navbar">Movies</a>
                <a ui-sref="shows" ng-click="" class="btn btn-primary btn-navbar">Television</a>
                <a ui-sref="ptvl" ng-click="" class="btn btn-primary btn-navbar">PTVL Manager</a>
                <a ui-sref="about" ng-click="" class="btn btn-primary btn-navbar">About PTVL</a>
        </div>
    </div>
</nav>
